@CHARSET "UTF-8";
.login{
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: #c0c0c0; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88);
}
.login-box{
    position: absolute; 
    top: 25%; 
    left: 40%; 
    width: 20%; 
    height: 30%; 
    padding: 20px; 
    background-color: #dadada; 
    z-index:1002; 
    overflow: auto; 
}
.login-box input{
    width:98%;
    height:40px;
}
.login-box a{
    width:95%;
    height:50px;
    background:#00897B;
    display:block;
    font-size:16px;
    color:#fff;
    line-height:50px;
    text-align:center;
    display:block;
    text-decoration:none;
}